/* Karla Aguilar
CSS file for website */

html {
    background: linear-gradient(to bottom,	#FFFFF0, #42f4f4);
    /* height: 200%; */
    background-repeat: no-repeat;
}

.smallTables {
    border: solid 3px black;
    width: 28%;
    height: 500%;
    text-align: left;
    padding: 20px;
}

#rightTable {
    float: right;
    margin-right: 150px;
    text-decoration: black;
    font-size: 125%;
}

#leftTable {
    float: left;
    margin-left: 150px;
    text-decoration: black;
    font-size: 125%;
}

.small {
    width: 100px;
    height: 100px;
    border: solid 6px rgb(17, 12, 12);
    border-radius: 25px;
}

#images:hover {
    width: 150px;
    height: 150px;
}

#button {
    background-color: rgb(127, 150, 255);
    width: 80px;
    height: 30px;
    border: solid 5px purple;
    border-radius: 25px;
    padding: 5px;
    align-content: center;
}

#button:hover{
    padding: 10px;
    border-radius: 30px;
    font-size: 30px;
}

a.noStyle:link {
    text-decoration: inherit;
    color: inherit;
    cursor: auto;
}
