body {
    background-color:#3678e2;
}

i {
    border: solid black;
    border-width: 0 12px 12px 0;
    display: inline-block;
    padding: 12px;
}

#quizContainer {
    margin-top: 275px;
    padding-right: 25%;
    padding-left: 25%;
}

.right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    float: right;
}

.left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
    float: left;
}


#question1 {
    font-size: 20px;
    text-align: center;
}