body {
    background-color:#3678e2;
}

i {
    border: solid black;
    border-width: 0 12px 12px 0;
    display: inline-block;
    padding: 12px;
}

.right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    float: right;
    margin-right: 400px;
    margin-top: 275px;
}

.left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
    float: left;
    margin-left: 400px;
    margin-top: 275px;
}


#question1 {
    font-size: 20px;
    text-align: center;

}